@charset "ISO-8859-1";


body {
   margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
   background: linear-gradient(to left, #ff0000 0%, #ff8000 40%);
   
   }
h1 {
	 
	 font-family:Courier New;
	 border-style: solid;
     border-color: #990000;
     background-color:#ffffff;
     font-size:2vw; color:#990000;
     text-align: center
}
#destacada {
  width: 6%;
  
}  
.ui-datatable-tablewrapper table thead tr th {
	background:#ffffcc;
}

