<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cvds.persistence.mybatisimpl.mappers.ElementoMapper">

	<resultMap type='Elemento' id='ElementoResult'>
		<id property='id' column='id' />
		<result property='tipo' column='tipo'/>
		<result property='equipo' column='equipoid'/>
		<result property='activo' column='activo'/>
		<result property='marca' column='marca'/>
		<result property='nombre' column='nombre' />
		<collection property='novedades' ofType='Novedad'></collection>
	</resultMap>
	
	<select id="listar" resultMap="ElementoResult"
		parameterType="int">
		SELECT
			e.id,
			e.tipo,
			e.equipoid,
			e.marca,
			e.activo,
			e.nombre
		FROM
			ELEMENTO as e
	</select>
	
	<select id="listar2" resultMap="ElementoResult"
		parameterType="int">
		SELECT
			e.id,
			e.tipo,
			e.equipoid,
			e.marca,
			e.nombre
		FROM
			ELEMENTO as e
		WHERE
			e.equipoid=#{idEqui}
	</select>
	
	<select id="listarElementosLibres" resultMap="ElementoResult"
		parameterType="int">
		SELECT
			e.id,
			e.tipo,
			e.equipoid,
			e.marca,
			e.nombre
		FROM
			ELEMENTO as e
		WHERE
			e.equipoid is null
	</select>
	
	<select id="getEquipoID" resultMap="ElementoResult"
		parameterType="int">
		SELECT
			e.equipoid
		FROM
			ELEMENTO as e
		WHERE e.id=#{elementoId}
		
		
		
	</select>
	

	<insert id="registrarElemento" parameterType="edu.cvds.entities.Elemento">
        insert into Elemento( tipo, equipoid, activo, marca, nombre) values ( #{tipo}, NULL, true, #{marca}, #{nombre})
    </insert>
    
    <insert id="registrarElementoConEquipo" parameterType="edu.cvds.entities.Elemento">
        insert into Elemento(tipo, equipoid, activo, marca, nombre) values (#{tipo}, #{idEqui}, true, #{marca}, #{nombre})
    </insert>
    
    <update id="desasociarElemento" parameterType="map">
		UPDATE elemento set equipoid=NULL where equipoid=#{idEqui} and tipo=(select tipo from elemento where id=#{idElem})
	</update>
	
	 <update id="desasociarElemento2" parameterType="map">
		UPDATE elemento set equipoid=NULL where equipoid=#{idEqui} and tipo=#{tipo}
	</update>
	
	<update id="asociarElemento" parameterType="map">
		UPDATE elemento set equipoid=#{idEqui} where id=#{idElem}
	</update>
	
	<update id="desasociarDeEquipo" parameterType="map">
		UPDATE elemento set equipoid=NULL where equipoid=#{equipo}
	</update>
	
	</mapper>