<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cvds.persistence.mybatisimpl.mappers.EquipoMapper">

	<resultMap type='Equipo' id='EquipoResult'>
		<id property='id' column='id' />
		<result property='laboratorioId' column='Laboratorioid'/>
		<result property='activo' column='activo'/>
		<result property='nombre' column='nombre' />
		<collection property='elementos' ofType='Elemento'></collection>
		<collection property='novedades' ofType='Novedad'></collection>
		
		
	</resultMap>
	
	<select id="buscarEquipos" resultMap="EquipoResult"
		parameterType="int">
		SELECT
			e.id
		FROM
			EQUIPO as e
	</select>
	
	
	 <insert id="registrarEquipo" parameterType="edu.cvds.entities.Equipo">
        insert into equipo(activo,nombre) values (True,#{nombre})
    </insert>
	
	</mapper>