<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cvds.persistence.mybatisimpl.mappers.LaboratorioMapper">

	<resultMap type='Laboratorio' id='LaboratorioResult'>
		<id property='id' column='id' />
		<result property='nombre' column='nombre' />
		<result property='descripcion' column='descripcion' />
		<result property='capacidadDeEquipos' column='capacidadequipos' />
		<result property='activo' column='activo' />
		<collection property='equipos' ofType='Equipo'></collection>
	</resultMap>
	
	
	<select id="buscarLaboratorios" resultMap="LaboratorioResult"
		parameterType="int">
		SELECT
			l.id,
			l.nombre,
			l.descripcion,
			l.capacidadequipos
		FROM
			LABORATORIO as l
	</select>
	
	<insert id="crear" parameterType="edu.cvds.entities.Laboratorio">
        insert into laboratorio(id,nombre,descripcion,capacidadequipos,activo) values (#{id},#{nombre},#{descripcion},#{capacidadDeEquipos},True)
    </insert>
	
	
</mapper>