<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.cvds.persistence.mybatisimpl.mappers.NovedadMapper">

	<insert id="registarNovedad" parameterType="edu.cvds.entities.Novedad">
        insert into Novedad( elementoid, equipoid, fecha, titulo,usuarioid,detalle) values ( #{elementoid}, #{equipoid}, #{fecha},#{titulo}, #{usuarioid}, #{detalle})
    </insert>
    
    <select id="buscarNovedades" resultMap="NovedadResult"
		parameterType="int">
		SELECT
			n.equipoid,
			n.elementoid,
			n.fecha,
			n.titulo,
			n.detalle
		FROM
			NOVEDAD as n
	</select>
	
	<select id="buscarNovedades2" resultMap="NovedadResult"
		parameterType="int">
		SELECT
			n.equipoid,
			n.elementoid,
			n.fecha,
			n.titulo,
			n.detalle
		FROM
			NOVEDAD as n
		WHERE 
			equipoid=#{equipoid}
	</select>
	
		<resultMap type='Novedad' id='NovedadResult'>
		<id property='id' column='id' />
		<result property='elementoId' column='elementoid'/>
		<result property='equipoId' column='equipoid'/>
		<result property='usuarioId' column='usuarioid'/>
		<result property='fecha' column='fecha' />
		<result property='detalle' column='detalle' />
		<result property='titulo' column='titulo' />
	</resultMap>
	
	</mapper>